---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const bio = await getCollection("bio");
---

<Layout title="Bio">
	<article>
		I know that you know that I know that you wanna know more about me. So I
		present to you, two options:
	</article>
	<ul>
		{
			bio.map((about) => (
				<li>
					<a href={`/bio/${about.id}`}>{about.id}</a>
				</li>
			))
		}
	</ul>
</Layout>
