---
import ToolsLayout from "@/layouts/ToolsLayout.astro";
import RandomNumber from "@/tools/random-number";

const instructions = [
	"Select the initial numerical system from the dropdown",
	"Select the target numerical system from the dropdown",
	"Enter a number in that numerical system",
	"See the numbers get converted in real time.",
	"Copy the converted values if needed",
	"Repeat for any other conversions",
];
---

<ToolsLayout
	title="Random Number Generator"
	description="Generate a random number based on generation rules that you set."
	instructions={instructions}
>
	<RandomNumber client:only />
	<!-- <fieldset> -->
	<!-- 	<legend>Options</legend><div> -->
	<!-- 		<div class="label-container" data-container="amount"> -->
	<!-- 			<label -->
	<!-- 				><span id="amount-label" class="bold">Amount</span><small -->
	<!-- 					id="amount-hint" -->
	<!-- 					class="hint">The amount of numbers to output</small -->
	<!-- 				><div class="input-container mono"> -->
	<!-- 					<div> -->
	<!-- 						<input -->
	<!-- 							type="text" -->
	<!-- 							class="number-input" -->
	<!-- 							inputmode="decimal" -->
	<!-- 							value="5" -->
	<!-- 							id="amount" -->
	<!-- 							name="amount" -->
	<!-- 							data-tool="random-9-digit-number-generator" -->
	<!-- 							data-ddg-inputtype="unknown" -->
	<!-- 						/><button -->
	<!-- 							type="submit" -->
	<!-- 							class="js-hide submit-button" -->
	<!-- 							formaction="/no-js/random-9-digit-number-generator/amount" -->
	<!-- 							>submit</button> -->
	<!-- 					</div> -->
	<!-- 				</div></label -->
	<!-- 			><ul id="amount-validation" class="validation" aria-polite="true"></ul> -->
	<!-- 		</div><div class="label-container" data-container="allow-repeated"> -->
	<!-- 			<label -->
	<!-- 				><span id="allow-repeated-label" class="bold" -->
	<!-- 					>Allow repeated numbers</span -->
	<!-- 				><div class="checkbox-container input-container"> -->
	<!-- 					<div> -->
	<!-- 						<input -->
	<!-- 							id="allow-repeated" -->
	<!-- 							name="allow-repeated" -->
	<!-- 							type="checkbox" -->
	<!-- 							data-tool="random-9-digit-number-generator" -->
	<!-- 							checked="" -->
	<!-- 						/><span class="checkbox-box" -->
	<!-- 							><svg height="32" width="32" viewBox="0 0 16 16" -->
	<!-- 								><path d="m2 8 5 4 7-9" class="tick"></path></svg -->
	<!-- 							></span> -->
	<!-- 					</div> -->
	<!-- 				</div></label> -->
	<!-- 		</div><div class="label-container" data-container="sort"> -->
	<!-- 			<label -->
	<!-- 				><span id="sort-label" class="bold">sort results</span><div -->
	<!-- 					class="input-container" -->
	<!-- 				> -->
	<!-- 					<div> -->
	<!-- 						<div class="select"> -->
	<!-- 							<select -->
	<!-- 								id="sort" -->
	<!-- 								class="mono" -->
	<!-- 								name="sort" -->
	<!-- 								data-tool="random-9-digit-number-generator" -->
	<!-- 								><option value="none" selected="">Don't sort</option><option -->
	<!-- 									value="high-to-low">High to low</option -->
	<!-- 								><option value="low-to-high">Low to high</option></select -->
	<!-- 							><svg height="1em" width="1em" viewBox="0 0 16 16" -->
	<!-- 								><path d="m2 4l6 6l6-6"></path></svg> -->
	<!-- 						</div><button -->
	<!-- 							type="submit" -->
	<!-- 							class="js-hide submit-button" -->
	<!-- 							formaction="/no-js/random-9-digit-number-generator/sort" -->
	<!-- 							>submit</button> -->
	<!-- 					</div> -->
	<!-- 				</div></label> -->
	<!-- 		</div><div class="dropdown"> -->
	<!-- 			<input id="more-options" name="more-options" type="checkbox" /> -->
	<!-- 			<label for="more-options" class="dropdown-label mono" -->
	<!-- 				><span class="icon"></span> -->
	<!-- 				<span class="closed-label">Show options</span> -->
	<!-- 				<span class="open-label">Hide options</span></label -->
	<!-- 			><div class="hidden-items"> -->
	<!-- 				<div class="label-container" data-container="decimals"> -->
	<!-- 					<label -->
	<!-- 						><span id="decimals-label" class="bold">Decimal places</span><div -->
	<!-- 							class="input-container mono" -->
	<!-- 						> -->
	<!-- 							<div> -->
	<!-- 								<input -->
	<!-- 									type="text" -->
	<!-- 									class="number-input" -->
	<!-- 									inputmode="decimal" -->
	<!-- 									value="0" -->
	<!-- 									id="decimals" -->
	<!-- 									name="decimals" -->
	<!-- 									data-tool="random-9-digit-number-generator" -->
	<!-- 									data-ddg-inputtype="unknown" -->
	<!-- 								/><button -->
	<!-- 									type="submit" -->
	<!-- 									class="js-hide submit-button" -->
	<!-- 									formaction="/no-js/random-9-digit-number-generator/decimals" -->
	<!-- 									>submit</button> -->
	<!-- 							</div> -->
	<!-- 						</div></label -->
	<!-- 					><ul id="decimals-validation" class="validation" aria-polite="true"> -->
	<!-- 					</ul> -->
	<!-- 				</div><div class="label-container" data-container="min"> -->
	<!-- 					<label -->
	<!-- 						><span id="min-label" class="bold">Minimum</span><div -->
	<!-- 							class="input-container mono" -->
	<!-- 						> -->
	<!-- 							<div> -->
	<!-- 								<input -->
	<!-- 									type="text" -->
	<!-- 									class="number-input" -->
	<!-- 									inputmode="decimal" -->
	<!-- 									value="0" -->
	<!-- 									id="min" -->
	<!-- 									name="min" -->
	<!-- 									data-tool="random-9-digit-number-generator" -->
	<!-- 									data-ddg-inputtype="unknown" -->
	<!-- 								/><button -->
	<!-- 									type="submit" -->
	<!-- 									class="js-hide submit-button" -->
	<!-- 									formaction="/no-js/random-9-digit-number-generator/min" -->
	<!-- 									>submit</button> -->
	<!-- 							</div> -->
	<!-- 						</div></label -->
	<!-- 					><ul id="min-validation" class="validation" aria-polite="true"></ul> -->
	<!-- 				</div><div class="label-container" data-container="max"> -->
	<!-- 					<label -->
	<!-- 						><span id="max-label" class="bold">Maximum</span><div -->
	<!-- 							class="input-container mono" -->
	<!-- 						> -->
	<!-- 							<div> -->
	<!-- 								<input -->
	<!-- 									type="text" -->
	<!-- 									class="number-input" -->
	<!-- 									inputmode="decimal" -->
	<!-- 									value="1000000000" -->
	<!-- 									id="max" -->
	<!-- 									name="max" -->
	<!-- 									data-tool="random-9-digit-number-generator" -->
	<!-- 									data-ddg-inputtype="unknown" -->
	<!-- 								/><button -->
	<!-- 									type="submit" -->
	<!-- 									class="js-hide submit-button" -->
	<!-- 									formaction="/no-js/random-9-digit-number-generator/max" -->
	<!-- 									>submit</button> -->
	<!-- 							</div> -->
	<!-- 						</div></label -->
	<!-- 					><ul id="max-validation" class="validation" aria-polite="true"></ul> -->
	<!-- 				</div> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- </fieldset> -->
</ToolsLayout>
