---
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
	const bio = await getCollection("profile");
	return bio.map((about) => ({
		params: { slug: about.id },
		props: { about },
	}));
}) satisfies GetStaticPaths;

const { about } = Astro.props;
const { Content } = await render(about);
---

<Layout title={about.data.title} description={about.data.title}>
	<main class="min-h-[60vh]">
		<h1>
			{about.data.title}
		</h1>
		<Content />
	</main>
</Layout>
