---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const bio = await getCollection("bio");
---

<Layout title="Bio">
	<article>
		I know that you know that I know that you wanna know more Profile. So I
		present to you, two options:
	</article>
	<ul>
		{
			bio.map((about) => (
				<li>
					<a href={`/profile/${about.id}`}>{about.data.title}</a>
				</li>
			))
		}
	</ul>
</Layout>
