---
/**
 * This website is only meant to showcase the work and and skills of the author,
 * on a professional level. It also has a blog, containing the author's observations
 * and opinions on various topics. The views expressed are the author's own.
 * Copyright (C) 2024  T L Naparajith
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License Version 3 as published
 * by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
 *
 * Contact me through electronic mail: <naparajith@duck.com>
 */

import A from "@/components/A.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const profile = await getCollection("profile");
const translations = [
	{ lang: "Sanskrit (Hindi/Marathi)", name: "नपराजित" },
	{ lang: "Bengali", name: "নপরাজিৎ" },
	{ lang: "Telugu", name: "నాపరాజిత్" },
	{ lang: "Tamil", name: "நபராஜித்" },
	{ lang: "Gujarati", name: "નાપરાજિત" },
	{ lang: "Kannada", name: "ನಪರಾಜಿತ್" },
	{ lang: "Odia", name: "ନାପାରାଜିଥ୍" },
	{ lang: "Malayalam", name: "നപരാജിത്ത്" },
	{ lang: "Punjabi", name: "ਨਪਰਾਜਿਤ" },
];
---

<Layout
	title="Profile"
	description="The official profile page for T L Naparajith, a Software Engineer from India"
>
	<article>
		<h3>Who am I?</h3>
		<p>
			I am Naparajith, a Software Quality Engineer from India. I am passionate
			about solving coding challenges, simple and complex everyday problems and
			leveraging technology to better the lives of the people around me. My
			career spans software development, engineering, quality assurance, test
			automation, and internal tool development.
		</p>
		<h3>More about me</h3>
		<p>
			Many people are curious about my name and what it means. So here is your
			answer.
		</p>
		<p>
			The name Naparajith is deeply rooted in ancient Indian culture and roughly
			translates to <strong>
				<em>
					<u>a person who is undefeated.</u>
				</em>
			</strong>
		</p>
		<p>
			I am sure that you might be interested in reading more about me. Here are
			2 options, based on the purpose of your visit to this site:
		</p>
		<ul>
			{
				profile.reverse().map((about) => (
					<li>
						<A href={`/profile/${about.id}`}>{about.data.title}</A>
					</li>
				))
			}
		</ul>

		<div
			class="flex flex-wrap justify-evenly border border-border ~gap-2/4 ~rounded-none/xl ~p-2/4"
		>
			<span>
				<A
					href="https://www.linkedin.com/in/naparajith/"
					title="LinkedIn - Naparajith T L"
					target="_blank"
				>
					LinkedIn
				</A>
			</span>
			<span>
				<A
					href={"https://github.com/DrInfinite"}
					title={`GitHub - DrInfinite`}
					target="_blank"
				>
					GitHub
				</A>
			</span>
			<span>
				<A href={"/quick-view/leetcode"} title={`LeetCode`} target="_blank">
					LeetCode
				</A>
			</span>
			<span>
				<A
					href={"https://bsky.app/profile/naparajith.in"}
					title={`Naparajith | DrInfinite (@naparajith.in)`}
					target="_blank"
				>
					BlueSky
				</A>
			</span>
			<span><A href="/blog" title="Blog">Blog</A></span>
			<span>
				<A href="/quotes-i-like" title="Portfolio - Quotes">Quotes</A>
			</span>
		</div>

		<table class="caption-top">
			<caption class="mb-4 font-semibold italic">
				Translations in select Indian languages
			</caption>
			<thead>
				<tr>
					<th>Language</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				{
					translations.map(({ lang, name }) => (
						<tr>
							<td>{lang}</td>
							<td class="font-sans">{name}</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</article>
</Layout>
