---
import A from "@/components/A.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const bio = await getCollection("bio");
---

<Layout
	title="Profile"
	description="The official profile page for T L Naparajith, a Software Engineer from India"
>
	<article>
		I know that you know that I know that you wanna know more Profile. So I
		present to you, two options:
	</article>
	<ul>
		{
			bio.map((about) => (
				<li>
					<A href={`/profile/${about.id}`}>{about.data.title}</A>
				</li>
			))
		}
	</ul>
</Layout>
