---
import A from "@/components/A.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const profile = await getCollection("profile");
const translations = [
	{ lang: "Assamese", name: "নপৰজিত" },
	{ lang: "Bengali", name: "নপরাজিৎ" },
	{ lang: "Gujarati", name: "નાપરાજિત" },
	{ lang: "Kannada", name: "ನಪರಾಜಿತ್" },
	{ lang: "Malayalam", name: "നപരാജിത്ത്" },
	{ lang: "Odia", name: "ନାପାରାଜିଥ୍" },
	{ lang: "Punjabi", name: "ਨਪਰਾਜਿਤ" },
	{ lang: "Sanskrit (and its derivatives)", name: "नपराजित" },
	{ lang: "Tamil", name: "நபராஜித்" },
	{ lang: "Telugu", name: "నాపరాజిత్" },
	{ lang: "Tulu", name: "ನಪರಾಜಿತ್" },
].toSorted((a, b) => a.lang.localeCompare(b.lang));
---

<Layout
	title="Profile"
	description="The official profile page for T L Naparajith, a Software Engineer from India"
>
	<article>
		<p>
			The name Naparajith is deeply rooted in ancient Indian culture and roughly
			translates to <strong>
				<em>
					<u>a person who is undefeated.</u>
				</em>
			</strong>
		</p>
		<p>
			I am sure that you might be interested in reading more about me. Here are
			2 options, based on the purpose of your visit to this site and/or current
			mood:
		</p>
		<ul>
			{
				profile.reverse().map((about) => (
					<li>
						<A href={`/profile/${about.id}`}>{about.data.title}</A>
					</li>
				))
			}
		</ul>

		<div
			class="flex flex-wrap justify-evenly rounded-xl border border-border ~gap-2/4 ~p-2/4"
		>
			<span>
				<A
					href="https://www.linkedin.com/in/naparajith/"
					title="LinkedIn - Naparajith T L"
					target="_blank"
				>
					LinkedIn
				</A>
			</span>
			<span>
				<A
					href={"https://github.com/DrInfinite"}
					title={`GitHub - DrInfinite`}
					target="_blank"
				>
					GitHub
				</A>
			</span>
			<span>
				<A
					href={"https://leetcode.com/u/DrInfinite/"}
					title={`LeetCode - Naparajith T L`}
					target="_blank"
				>
					LeetCode
				</A>
			</span>
			<span>
				<A
					href={"https://bsky.app/profile/naparajith.in"}
					title={`Naparajith | DrInfinite (@naparajith.in)`}
					target="_blank"
				>
					BlueSky
				</A>
			</span>
			<span><A href="/blog" title="Blog">Blog</A></span>
			<span>
				<A href="/quotes-i-like" title="Portfolio - Quotes">Quotes</A>
			</span>
		</div>

		<table class="caption-top">
			<caption class="mb-4 font-semibold italic">
				Translations in select Indian languages
			</caption>
			<thead>
				<tr>
					<th>Language</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				{
					translations.map(({ lang, name }) => (
						<tr>
							<td>{lang}</td>
							<td class="font-sans">{name}</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</article>
</Layout>
