/**
 * Copyright DrInfinite 2024, 2026
 * SPDX-License-Identifier: MIT
 */

@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@import './anchor.css';
@import './forms.css';
@import './table.css';
@import './typography.css';

@theme inline {
  --color-dark: rgb(22, 22, 22);
  --color-light: rgb(241, 241, 241);

  --font-quote: var(--font-quote);
  --font-display: var(--font-display);
}

@layer utilities {
  @view-transition {
    navigation: auto;
  }
}

@layer base {
  * {
    @apply selection:text-light selection:bg-dark dark:selection:text-dark dark:selection:bg-light font-serif transition-all;
  }

  article {
    @apply space-y-2 md:space-y-4 lg:space-y-6 xl:space-y-8;
  }

  body {
    @apply bg-light text-dark dark:bg-dark dark:text-light container mx-auto max-w-7xl space-y-2 scroll-smooth px-4 antialiased sm:px-6 md:space-y-4 lg:space-y-6 lg:px-8 xl:space-y-8;
  }

  button {
    @apply bg-dark hover:bg-dark/90 text-light dark:bg-light dark:hover:bg-light/85 dark:text-dark border px-2 uppercase hover:cursor-pointer hover:underline hover:underline-offset-2;
  }

  details {
    @apply border p-2 sm:p-4 lg:p-6 2xl:p-8;
  }

  summary {
    @apply font-semibold;
  }

  details[open] summary {
    @apply border border-t-0 border-r-0 border-l-0 pb-0;
  }
}
