/**
 * Copyright Naparajith T L (DrInfinite) 2024, 2026
 * SPDX-License-Identifier: MIT
 */

@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "./forms.css";
@import "./table.css";
@import "./typography.css";

@theme {
    --font-sans: sans-serif;
    --font-serif: serif;
}

@layer utilities {
    @view-transition {
        navigation: auto;
    }
}

@layer base {
    * {
        @apply transition-all duration-100 ease-linear;
    }

    body {
        @apply container mx-auto max-w-7xl space-y-2 scroll-smooth px-4 antialiased sm:px-6 md:space-y-4 lg:space-y-6 lg:px-8 xl:space-y-8;
    }

    article {
        @apply space-y-2 md:space-y-4 lg:space-y-6 xl:space-y-8;
    }

    button {
        @apply rounded-full border bg-gray-200 px-2 font-semibold hover:cursor-pointer hover:bg-gray-300;
    }

    details {
        @apply border p-2 sm:p-4 lg:p-6 2xl:p-8;
    }

    summary {
        @apply font-semibold;
    }

    details[open] summary {
        @apply border border-t-0 border-r-0 border-l-0 pb-0;
    }

    ul {
        @apply my-6 ml-6 list-disc [&>li]:mt-2;
    }

    ol {
        @apply my-6 ml-6 list-decimal [&>li]:mt-2;
    }

    a {
        @apply text-blue-700 underline visited:text-purple-700 hover:text-fuchsia-700 active:text-red-700 active:no-underline [&:has(>cite)]:no-underline [&:has(>cite)]:after:content-['_(c)'] [[href^='mailto:']]:after:content-['_(m)'] [&[href^='http']:not(:has(cite))]:after:content-['_(e)'];
    }
}
