---
import { GithubProfile } from "@/actions/github-profile";

export const github = await GithubProfile();
---

<h3>GitHub Stats</h3>
<div>
	<div
		class="flex flex-wrap justify-evenly rounded-full border border-border ~gap-2/4 ~p-2/4"
	>
		<span>Repositories: <strong>{github.public_repos}</strong></span>
		<span>Followers: <strong>{github.followers}</strong></span>
		<span>Following: <strong>{github.following}</strong></span>
	</div>
</div>
