<h3>GitHub Stats</h3>
<div>
	<div
		class="flex flex-wrap justify-evenly rounded-full border border-border ~gap-2/4 ~p-2/4"
	>
		<span
			>Repositories: <strong class="animate-pulse">
				<span
					class="bg-gradient-to-br from-[#d83333] to-[#f041ff] bg-clip-text text-transparent"
				>
					...
				</span>
			</strong>
			<span
				>Followers: <strong class="animate-pulse">
					<span
						class="bg-gradient-to-br from-[#d83333] to-[#f041ff] bg-clip-text text-transparent"
					>
						...
					</span>
				</strong>
			</span>
			<span
				>Following: <strong class="animate-pulse">
					<span
						class="bg-gradient-to-br from-[#d83333] to-[#f041ff] bg-clip-text text-transparent"
					>
						...
					</span>
				</strong>
			</span>
		</span>
	</div>
</div>
