---
/**
 * This website is only meant to showcase the work and and skills of the author,
 * on a professional level. It also has a blog, containing the author's observations
 * and opinions on various topics. The views expressed are the author's own.
 * Copyright (C) 2024  T L Naparajith
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License Version 3 as published
 * by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
 *
 * Contact me through electronic mail: <naparajith@duck.com>
 */

import Button from "@/components/Button.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="500" description="there was an unknown server-side error">
	<div class="flex h-[60vh] flex-col place-content-center gap-4">
		<h3 class="text-center">
			500 | the server randomly decided to stop working ;(
		</h3>
		<p class="text-justify">
			Try reloading the page or, go home to start over. Sorry for any
			inconviences caused!
		</p>
		<Button className={"mx-auto place-self-center"} href={"/"}>
			Go Home
		</Button>
		<div class="text-center">
			<h3>Here's a quote for your efforts ;)</h3>
			<div
				class="font-quote font-bold italic ~-my-4/8 [&>a]:font-sans [&>a]:not-italic [&>b]:invisible"
			>
				<script
					is:inline
					type="text/javascript"
					src="//www.azquotes.com/widgets/link/qu_m.js"></script>
			</div>
		</div>
		<noscript>Sorry guys, no JavaScript, no random quote ;(</noscript>
	</div>
</Layout>
