---
import A from "@/components/A.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
	title="Contact"
	description="Get in touch with Naparajith, a Software Engineer from India."
>
	<h1>Contact</h1>
	<p>
		Get in touch with me through this form or by using the email
		<A href="mailto:naparajith@duck.com"> naparajith@duck.com</A>
	</p>
	<p>
		If you prefer to chat, get in touch <A
			href="https://api.whatsapp.com/send?phone=919940169018"
			target="_blank"
			title="WhatsApp"
		>
			here.
		</A>
	</p>

	<details>
		<summary>Why is there no Contact Form?</summary>
		<p>
			A contact form requires a good amount of client-side JS. I currently have
			no idea on how to make this client-side code as transparent and as open as
			possible to the end user. Therefore, for the moment, so such form exists.
		</p>
	</details>
	<details>
		<summary>Will there be a contact form in the future?</summary>
		<p>
			Yes there will be. However, I gurantee no timeline on its implementation.
		</p>
	</details>
</Layout>
