---
import { GithubProfile } from "@/actions/github-profile";
import A from "@/components/A.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const github = await GithubProfile();
const learning = [
	"How to effectively secure a router?",
	"How do memory-corruption vulnerabilities work?",
	"Building a programming language from scratch using LLVM",
	"How to prevent DDoS attacks on various types of systems?",
	"How the hell does a Syscall work?",
	"Understanding the pitfalls of cross-platform application development.",
];
---

<Layout
	title="Home"
	description="The personal portfolio of T L Naparajith, a Software Engineer from India."
>
	<h1 class="text-center">{github.name}</h1>
	<article>
		<figure
			class="flex flex-col content-around items-center justify-around ~gap-6/12"
		>
			<span class="-my-px ~size-48/96">
				<Image
					alt={"DrInfinite"}
					class="mx-auto scale-90 rounded-full"
					inferSize
					width={520}
					height={520}
					loading={"eager"}
					src={github.avatar_url ?? "/favicon.svg"}
				/>
			</span>

			<figcaption class="bg-background text-center ~p-2/4">
				This image comes from my <A href={github.html_url} target="_blank">
					GitHub Profile
				</A>
			</figcaption>
		</figure>
		<p><strong>{github.bio}</strong></p>
	</article>
	<div
		class="flex flex-wrap justify-evenly rounded-full border border-border ~gap-2/4 ~p-2/4"
	>
		<A href="/profile" title="Bio">Profile</A>
		<A href="/quick-view" title="Quick View"> Quick View </A>
		<A href={"https://flowcv.com/resume/mdrssqq018"} target={"_blank"}>
			Resume
		</A>
		<A href="/contact" title="Contact">Contact</A>
		<A href="/blog" title="Blog">Blog</A>
		<A href="/quotes" title="Quotes">Quotes</A>
	</div>
	<main>
		<p>
			This is a portfolio website. The content and views present here are purely
			meant to showcase my work, skills and abilities. They are my own and do
			not reflect the views and positions any organisation or entity I work with
			or have previously worked with. The source code for this site is remotely
			hosted as a repository on GitHub. The site is deployed, hosted and
			distributed using Vercel.
		</p>
		<hr />
		<div>
			<p>
				When I was a kid, I was told a really inspiring quote about learning,
				which goes something like this:
			</p>
			<figure>
				<blockquote
					cite={process.env.NODE_ENV === "development"
						? "http://localhost:4321/"
						: "https://naparajith.in/"}
				>
					From the teacher is learned a quarter, a quarter from the student's
					own intelligence, a quarter from fellow students, and a quarter with
					the passage of time.
				</blockquote>
				<figcaption>
					<cite>
						- <strong class="text-inherit">
							Unknown Sanskrit Shloka
						</strong></cite
					>
				</figcaption>
			</figure>
			<p>
				I intened to make learning my long-term commitment, and that takes a lot
				of support, effort and cooperation. Here are a few things I'm interested
				in getting help on (not an exhaustive list):
			</p>
			<ul>
				{learning.map((concept) => <li>{concept}</li>)}
			</ul>
			<p>
				If you would like to help me in any of these ways, please write to <A
					href="mailto:naparajith@duck.com"
					title="E-Mail Address"
					target="_blank"
				>
					naparajith@duck.com.
				</A>
			</p>
		</div>
	</main>
</Layout>
