---
import { GithubProfile } from "@/actions/github-profile";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const github = await GithubProfile();
---

<Layout title="Home">
	<h1 class="text-center">{github.name}</h1>
	<article>
		<figure>
			<Image
				src={github.avatar_url ?? "/favicon.svg"}
				alt={github.profile ?? "DrInfinite"}
				inferSize
				width={260}
				height={260}
				loading={"eager"}
				class="mx-auto place-items-center object-cover ~size-48/96"
			/>
			<figcaption class="text-center">
				This image comes from my <a
					href={github.html_url}
					target="_blank"
				>
					GitHub Profile
				</a>
			</figcaption>
		</figure>
		<p><strong>{github.bio}</strong></p>
	</article>
	<main>
		<p>
			This is a portfolio website. The content and views present here are
			purely meant to showcase my skills and abilities. They are my own
			and do not reflect the views and positions any organisation or
			corporate entity I work with or have previously worked with. This
			site is remotely hosted as a repository on GitHub. The site is
			hosted and distributed using Vercel.
		</p>
	</main>
	<div class="flex flex-wrap border border-border ~gap-2/4 ~p-2/4">
		<a href="/bio" title="Bio">About Me</a>
		<a href="/quick-view" title="Quick View" data-astro-prefetch="load">
			Quick View
		</a>
		<a href="/quotes" title="Quotes">Quotes</a>
		<a href="/indian-legends" title="Indian Legends">Indian Legends</a>
		<a href="/policy/license.md" title="License">License</a>
	</div>
</Layout>
