---
/**
 * This website is only meant to showcase the work and and skills of the author,
 * on a professional level. It also has a blog, containing the author's observations
 * and opinions on various topics. The views expressed are the author's own.
 * Copyright (C) 2025  T L Naparajith
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License Version 3 as published
 * by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
 *
 * Contact me through electronic mail: <naparajith@duck.com>
 */

export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import ACard from "@/components/ACard.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import GitHubCard from "@/components/quick-view/GitHubCard.astro";
import LeetcodeCard from "@/components/quick-view/LeetcodeCard.astro";

const blog = await getCollection("blog");
---

<Layout
	title="Quick View"
	description="A collection of Quick Links for my personal website"
>
	<main class="flex flex-col justify-around ~gap-8/16">
		<article
			class="flex flex-col items-center justify-evenly align-middle ~gap-8/4 md:flex-row"
		>
			<span class="~size-32/64">
				<Image
					alt={"DrInfinite"}
					class="mx-auto rounded-none"
					width={540}
					height={540}
					priority
					src={"https://avatars.githubusercontent.com/u/74095696?v=4"}
				/>
			</span>
			<div>
				<h2 class="text-center">Naparajith (Naps) T L</h2>
				<h3 class="text-center">SAFe 6.0 Certified SDET</h3>
			</div>
		</article>

		<hr class="border-t-2 border-t-border ~my-2/4" />

		<div class="mt-0 flex flex-col-reverse ~gap-4/8 md:flex-col">
			<div
				class="mx-auto grid w-full max-w-6xl grid-cols-2 gap-4 p-4 sm:grid-cols-3 md:grid-cols-4"
			>
				<ACard
					href="https://www.linkedin.com/in/naparajith/"
					title="LinkedIn - Naparajith T L"
					target="_blank"
				>
					LinkedIn
				</ACard>
				<ACard
					href={"https://bsky.app/profile/naparajith.in"}
					title={`Naparajith | DrInfinite (@naparajith.in)`}
					target="_blank"
				>
					BlueSky
				</ACard>
				<ACard href="/" title="Portfolio">Portfolio</ACard>
				<ACard href={"/contact"} title={"Contact"}>Contact</ACard>
				<ACard href={"/quotes"}>Quotes</ACard>
			</div>

			<div
				class="mx-auto grid w-full max-w-6xl grid-cols-1 gap-4 p-4 text-left sm:grid-cols-2 md:grid-cols-3"
			>
				<GitHubCard />
				<LeetcodeCard />
				<ACard href="/blog" title="Portfolio - Blog">
					<span class="flex flex-col">
						Blog
						<div
							class="h-[2px] bg-gradient-to-r from-[#1e57b7] to-[#4762f4] transition-all duration-300 ~my-0/2"
						>
						</div>
						<small class="font-normal">
							<u>Last Posted:</u>{" "}
							<strong
								>{blog.at(0)?.data.created.toDateString().slice(4, 10)}</strong
							>
						</small>
					</span>
				</ACard>
			</div>
		</div>
	</main>
</Layout>
