---
import Layout from "@/layouts/Layout.astro";
---

<Layout
	title="Projects"
	description="A collection of projects that I have worked on"
>
	<h1 transition:name="project-title">Rent or Buy</h1>
	<form action=""></form>
</Layout>
