---
/**
 * This website is only meant to showcase the work and and skills of the author,
 * on a professional level. It also has a blog, containing the author's observations
 * and opinions on various topics. The views expressed are the author's own.
 * Copyright (C) 2024  T L Naparajith
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License Version 3 as published
 * by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
 *
 * Contact me through electronic mail: <naparajith@duck.com>
 */

import A from "@/components/A.astro";
---

<footer
	class="flex flex-col-reverse items-center justify-evenly border-t border-border pt-4 ~my-6/12 md:flex-row"
	transition:persist
>
	<p class="text-pretty text-start">
		<A
			property="dct:title"
			rel="cc:attributionURL"
			href="https://www.naparajith.in/"
		>
			This site
		</A> is licensed under <A
			href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
			target="_blank"
			rel="license noopener noreferrer"
			style="display:inline-block;"
		>
			CC BY-NC-SA 4.0.
		</A>
		<span property="dct:title">All images are</span> are licensed under <A
			href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1"
			target="_blank"
			rel="license noopener noreferrer"
			style="dsplay:inline-block;"
			>CC BY-NC-ND 4.0.
		</A> &copy; 2024 by <A
			rel="cc:attributionURL dct:creator"
			property="cc:attributionName"
			href="https://www.linkedin.com/in/naparajith/"
			target="_blank"
		>
			Naparajith T L
		</A>
	</p>
</footer>
