---
/**
 * This website is only meant to showcase the work and and skills of the author,
 * on a professional level. It also has a blog, containing the author's observations
 * and opinions on various topics. The views expressed are the author's own.
 * Copyright (C) 2025  T L Naparajith
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License Version 3 as published
 * by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
 *
 * Contact me through electronic mail: <naparajith@duck.com>
 */

import A from "@/components/A.astro";
import Button from "@/components/Button.astro";
---

<header class="my-10" transition:persist>
	<div class="mb-2 flex items-center justify-between ~gap-2/4">
		<strong>
			~/{
				Astro.url.pathname === "/"
					? ""
					: Astro.url.pathname.startsWith("/blog") ||
						  Astro.url.pathname.startsWith("/quotes")
						? Astro.url.pathname
								.toString()
								.replace("/", "")
								.replace(/\/.*/, "")
								.replace("/", "")
						: Astro.url.pathname.startsWith("/profile")
							? Astro.url.pathname
									.toString()
									.replace("/", "")
									.replace(/\/\d+-/, "/")
							: Astro.url.pathname.toString().replace("/", "")
			}
		</strong>
		<strong>naparajith | sdet 2</strong>
	</div>

	<span
		class="flex flex-wrap items-center justify-evenly border-b border-t border-border py-4 ~gap-2/4"
	>
		<A href="/" title="Home"> Home </A>
		<A href="/profile" title="Profile"> Profile </A>
		<A href="/quick-view" title="Quick View"> Quick View </A>
		<A href="/projects" title="Projects"> Projects </A>
		<!-- <A href="/design" title="Design"> Designs </A> -->
		<Button
			title="Resume"
			target="_blank"
			href="https://flowcv.com/resume/mdrssqq018"
		>
			Resume
		</Button>
	</span>
</header>
