---
import ACard from "@/components/ACard.astro";
import { LeetcodeProfile } from "@/actions/leetcode-profile.ts";

const leetcode = await LeetcodeProfile();
---

<ACard href="/quick-view/leetcode" title="LeetCode">
	<span class="flex flex-col">
		LeetCode
		<div
			class="h-[2px] bg-gradient-to-r from-[#d83333] to-[#f041ff] transition-all duration-300 ~my-0/2"
		>
		</div>
		<small class="font-normal">
			<u class="block md:hidden">Last Solved</u>
			<u class="hidden md:inline">Last Solved:</u>
			<strong
				>{
					new Date(
						parseInt(leetcode.recentSubmissionList?.at(0)?.timestamp!) * 1000,
					)
						.toDateString()
						.slice(4, 10)
				}</strong
			>
		</small>
	</span>
</ACard>
